$white: #ffffff;
$grey-50: #e5e5e5;
$grey-100: #cccccc;
$grey-200: #b2b2b2;
$grey-300: #999999;
$grey-400: #808080;
$grey-500: #666666;
$grey-600: #4d4d4d;
$grey-700: #333333;
$grey-800: #1a1a1a;
$grey-900: #080808;
$black: #000000;
